@use "@angular/material" as mat;

html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

* {
    font-family: "Poppins", sans-serif;
}

.eIsnkr {
    display: none;
}
